div#wrap {
  border: 1px solid black;
  height: 100vh;
  width: 900px;
}

div#border {
  border: 1px solid black;
  height: 80vh;
  width: 700px;
  margin: 50px auto;
}

div#title {
  background-color: white;
  width: 250px;
  height: 100px;
  margin: auto;
  margin-top: -50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

h3 {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

div#para {
  background-color: white;
  width: 400px;
  height: 300px;
  margin: auto;
  text-align: center;

}

p {
  padding: 20px;
}